*{margin:0 ; padding: 0% ;}

.texto-principal{
        color: rgb(255, 255, 255); text-align: justify;
        font-size: 18px;

}

#texto1{
    background-color: purple; 
    font-size: 15px;

}

#texto2{
    background-color: blue;
    font-size: 15px;
}