*{margin:0 ; padding: 0% ;box-sizing: border-box;}

#conteudo p{
    opacity: 0.2px;

}

#conteudo{
    background-color: red;
    width: 300px;
    height: 300px;
    padding: 20px;
    overflow: hidden;
    /*box-shadow: 10px 10px 5px violet;*/
}

#conteudo2{
    background-color: blue;
    color: aliceblue;
    width: 300px;
    padding: 20px;
    overflow: hidden;
    /*box-shadow: 10px 10px 5px violet;*/
}


